.nav {
  height: 48px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > a {
    height: 100%;
    text-decoration: none;

    > h1 {
      height: 100%;

      padding-bottom: 1rem;

      font-family: var(--font-title);
      color: black;

      &:hover {
        background-image: linear-gradient(to top, indigo, blue);
        background-clip: text;
        color: transparent;
      }
    }
  }

  > ul {
    height: 100%;

    display: flex;
    // align-items: center;
    gap: 2rem;

    list-style: none;

    > li {
      height: 100%;

      display: flex;
      align-items: center;

      &:nth-of-type(3) > a {
        font-weight: bolder;
        text-decoration: none;
        color: black;
      }
      a {
        // height: 100%;
        // height: 40px;

        // padding-bottom: 27px;

        font-weight: lighter;
        text-decoration: none;
        color: black;

        &#contact {
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
      }

      &:has(a[data-active="true"]) {
        border-bottom: 2px solid black;
      }

      &:has(a:hover) {
        border-bottom: 1px solid black !important;
      }
    }
  }

  .menuTrigger {
    height: 100%;
    aspect-ratio: 1 / 1;

    display: none;

    background-color: white;
    border: none;

    font-family: var(--font-main);
  }

  menu {
    width: 100vw;
    height: 100%;
    z-index: 50;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-color: #171717;

    h1 {
      color: white;

      font-size: 3rem;
    }

    a {
      color: whitesmoke;

      text-decoration: none;
    }

    button {
      aspect-ratio: 1 / 1;

      position: absolute;
      right: 1rem;
      top: 1rem;

      background-color: transparent;
      color: white;
      border: none;

      font-family: var(--font-main);
    }
  }
}

@media (max-width: 768px) {
  .ul {
    display: none !important;
  }

  .menuTrigger {
    display: block !important;
  }
}

@media (max-width: 425px) {
  .h1 {
    font-size: 12px;
  }
}
