.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  .h1 {
    height: 40px;

    padding-bottom: 1rem;

    font-family: var(--font-title);
    text-decoration: none;
    color: black;

    &:hover {
      background-image: linear-gradient(to top, indigo, blue);
      background-clip: text;
      color: transparent;
    }
  }

  .ul {
    display: flex;
    gap: 2rem;

    list-style: none;

    .a {
      height: 40px;

      padding-bottom: 1rem;

      font-weight: lighter;
      text-decoration: none;
      color: black;
    }

    .contact {
      padding-bottom: 1rem;

      font-weight: bold;
      text-decoration: none;
      color: black;
    }

    .a:hover,
    .contact:hover {
      border-bottom: 1px solid black !important;
    }
  }
}

@media (max-width: 768px) {
  .ul {
    display: none !important;
  }
}

@media (max-width: 425px) {
  .h1 {
    font-size: 12px;
  }
}
