@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;

  display: flex;
  justify-content: center;

  font-family: var(--font-main);
}
