.main {
  max-width: 1080px;
  width: 1080px;

  padding: 2rem 2rem;

  .header {
    margin: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    // gap: 4rem;

    div {
      height: 110px;

      h2 {
        font-family: var(--font-title);
        font-size: 6rem;
      }

      h3 {
        width: fit-content;

        margin-top: 1.5rem;

        position: relative;
        bottom: 2.5rem;
        left: 6rem;

        color: brown;

        font-family: var(--font-title);
        font-size: 1rem;
        font-weight: lighter;

        span {
          position: relative;
          left: 4rem;
        }
      }
    }

    img {
      object-fit: cover;

      filter: saturate(0%);

      transition-duration: 100ms;
    }
    // }

    &:hover > img {
      filter: saturate(150%) hue-rotate(150deg);
    }
  }

  > h2 {
    padding: 2rem 0 0 2rem;
  }

  .projects {
    margin: 2rem;
    padding-inline: 2rem;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 8rem;
  }
}

@media (min-width: 1024px) {
  .projects {
    article:nth-child(odd) {
      // position: relative;
      // left: 10%;
      align-self: flex-end;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    scale: 0.8;

    img {
      display: none;
    }
  }

  .projects {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .header {
    scale: 1;

    div {
      height: auto !important;

      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 3rem !important;
      }

      h3 {
        position: static !important;

        span {
          position: static !important;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .header div h2 {
    font-size: 2rem !important;
  }
}
