.main {
  max-width: 1080px;

  margin-inline: auto;
  padding: 2rem 2rem;

  .header {
    margin: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    // gap: 4rem;

    div {
      height: 110px;

      h2 {
        font-family: var(--font-title);
        font-size: 6rem;
      }

      h3 {
        margin-top: 1.5rem;

        position: relative;
        bottom: 2.5rem;
        left: 6rem;

        color: brown;

        font-family: var(--font-title);
        font-size: 1rem;
        font-weight: lighter;

        span {
          position: relative;
          left: 4rem;
        }
      }
    }

    img {
      object-fit: cover;

      filter: saturate(0%);

      transition-duration: 100ms;
    }
    // }

    &:hover > img {
      filter: saturate(150%) hue-rotate(150deg);
    }
  }

  .projects {
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 8rem;

    article:nth-child(odd) {
      position: relative;
      left: 10%;
    }
  }
}
